@charset "utf-8";
/* CSS Document */

body {
	background:#000;
}

h1,
div#page-top-outer,
div#questionnaire,
div.nav-outer-repeat,
input.btn-print,
#content-table th.sized	img,
div#footer {
	display: none;
}

table#id-form th {
	padding-bottom: 7px!important;
}

div#content {
	padding: 0;
}

div#sign {
	display:block;
	position: relative;
	width: 100%;
}

div#sign dl {
	position: relative;
	left: 40%;
	top: 0;
	width: 60%;
}

div#sign dt {
	margin-top: 3em;
	text-align: left;
	width: 20%;
}

div#sign dd {
	border-bottom: 1px solid #ccc;
	height: 3em;
}

.inp-form {
	height: auto;
}

h2.mhOrder {
	color: #000;
}

